<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @event.year %>
</p>

<p>
  <strong>Season:</strong>
  <%= @event.season %>
</p>

<table class="table table-striped">
  <tr>
    <th colspan="7" class="text-center">Attendee info</th>
  </tr>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Company</th>
    <th>Alumni?</th>
    <th>Attended 12 months ago?</th>
    <th>Attended 6 months ago?</th>
  </tr>
  <% @event.attendings.attended_previous_season.each do |attending| %>
  <tr>
    <td><%= attending.attendee.id %></td>
    <td><%= attending.attendee.first_name %></td>
    <td><%= attending.attendee.last_name %></td>
    <td><%= attending.company.name %></td>
    <td><%= !attending.newbie %></td>
    <td><%= attending.attended_previous_year %></td>
    <td><%= attending.attended_previous_season %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
