<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @event.year %>
</p>

<p>
  <strong>Season:</strong>
  <%= @event.season %>
</p>

<p>
  <strong>Companies Attended:</strong>
  <% @event.companies.each do |company| %>
  <%= company.name %>
  <br>
  <% end %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
