<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th colspan="7" class="text-center">ERE Conference - Attendee Analysis</th>
        </tr>
        <tr>
          <th>Event</th>
          <th>Year</th>
          <th>Season</th>
          <th>Total Paid Registrations</th>
          <th>Alumni</th>
          <th>Newbies</th>
          <th>Attended 6 months earlier</th>
          <th>Attended 12 months earlier</th>
        </tr>
        <% @ere_events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.year %></td>
          <td><%= event.season %></td>
          <td><%= event.attendees.count %></td>
          <td><%= event.attendings.alumni.count %> (<%= percentage_alumni(event) %>)</td>
          <td><%= event.attendings.newbies.count %> (<%= percentage_newbies(event) %>)</td>
          <td><%= event.attendings.attended_previous_season.count %> (<%= percentage_previous_season(event) %>)</td>
          <td><%= event.attendings.attended_previous_year.count %> (<%= percentage_previous_year(event) %>)</td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th colspan="7" class="text-center">Sourcecon - Attendee Analysis</th>
        </tr>
        <tr>
          <th>Event</th>
          <th>Year</th>
          <th>Season</th>
          <th>Total Paid Registrations</th>
          <th>Alumni</th>
          <th>Newbies</th>
          <th>Attended 6 months earlier</th>
          <th>Attended 12 months earlier</th>
        </tr>
        <% @sourcecon_events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.year %></td>
          <td><%= event.season %></td>
          <td><%= event.attendees.count %></td>
          <td><%= event.attendings.alumni.count %> (<%= percentage_alumni(event) %>)</td>
          <td><%= event.attendings.newbies.count %> (<%= percentage_newbies(event) %>)</td>
          <td><%= event.attendings.attended_previous_season.count %> (<%= percentage_previous_season(event) %>)</td>
          <td><%= event.attendings.attended_previous_year.count %> (<%= percentage_previous_year(event) %>)</td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
